*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Quicksand', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
   
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.col-2{
    flex-basis: 50%;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #D3212D;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background:	#A52A2A;
}
header{
    background: linear-gradient(to bottom right, #ffd4d4 ,#fff7d4);
}
header .row{
    margin-top: 70px;
}
.caterogies{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}
.col-3:hover{
    transform: translateY(-5px);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.tittle{
    text-align: center;
    margin: 50px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555

}
.tittle::after{
    content: '';
    background: #A52A2A;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4{
    font-size: 14px;

}
.rating .fa{
    color:#D3212D;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff,#F4C2C2);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
.small{
    color: #555;
}
/*------About us----------*/
.about-us{
    padding-top: 100px;
}
.about-us .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.about-us .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.about-us .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
font-size: 34px;
color: #D3212D;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.about-us .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------footer----------*/
.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}   
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
/*---contact----*/
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.other-input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
}
/*---logo----*/
.logo{
    padding: 2em;
}
/* cai nay Huan moi them vao*/
/*FAQ*/
.qa1-container{
  background: white;
  width: 70%;
  text-align: center;
}

.qa1-container div a{
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
.qa1-container #a1{
  display: none;
}
.qa1-container #a1:target{
  display: block;
}
.qa2-container{
  background: white;
  width: 70%;
  text-align: center;
}
.qa2-container div a{
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
.qa2-container #a2{
  display: none;
}
.qa2-container #a2:target{
  display: block;
}
.qa3-container{
  background: white;
  width: 70%;
  text-align: center;
}
.qa3-container div a{
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
.qa3-container #a3{
  display: none;
}
.qa3-container #a3:target{
  display: block;
}
.qa4-container{
  background: white;
  width: 70%;
  text-align: center;
}
.qa4-container div a{
  color: black;
  font-size: 3vw;
  text-decoration: none;
}
.qa4-container #a4{
  display: none;
}
.qa4-container #a4:target{
  display: block;
}
/* Fees*/
main>h1{
  text-align: center;
}
.fees{
  display: flex;
  flex-direction: row;
}
.fees>div{
  border: 1px black solid;
}
.fees>div>h2{
  text-align:center;
}
/* My Account */
input[type=text] {
  width: 100%;
  overflow: hidden;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
main>div{
  width: 30%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label{
  font-weight: bold;
  width: 50%;
  align-items: center;
  display: contents;
}
a{
  text-decoration: none;
  color: darkviolet;
  margin-top: 2%;
  margin-bottom: 2%;
}
a:hover{
  text-decoration: underline;
}
input[type=text]:focus {
  border: 3px solid darkviolet;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;

  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=password]:focus {
  border: 3px solid darkviolet;
}
.login_info{
  width: 40%;
}
input[type=button]{
  background-color: darkviolet;
  border-color: darkviolet;
  color: white;
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  font-size: 1.5em;
  margin-bottom: 3%;
  height: 100%;
}
